{% extends 'news/base.html' %}
{% load static %}

  {% block head %}
    <link href="{% static 'css/style_profile.css' %}" rel="stylesheet">
  {% endblock head %}

  {% block title %}Profile{% endblock title %}

{% block content %}


<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Profil rasmi</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-2" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                    <!-- Profile picture upload button-->
                    <button class="btn btn-primary" type="button">Upload new image</button>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Hisob tafsilotlari</div>
                <div class="card-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- Form Group (username)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">Foydalanuvchi nomi (sizning ismingiz saytdagi boshqa foydalanuvchilarga qanday ko'rinishi)</label>
                            <input class="form-control" id="inputUsername" type="text" placeholder="Foydalanuvchi nomingizni kiriting" value="{{ user.username }}" name="username">
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstName">Ism</label>
                                <input class="form-control" id="inputFirstName" placeholder="Ismingizni kiriting" value="{{ user.first_name }}" name="first_name">
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName">Familiya</label>
                                <input class="form-control" id="inputLastName" type="text" placeholder="Familiyangizni kiriting" value="{{ user.last_name }}" name="last_name">
                            </div>
                        </div>
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">Email manzil</label>
                            <input class="form-control" id="inputEmailAddress" type="email" placeholder="E-mail manzilingizni kiriting" value="{{ user.email }}" name="email">
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (phone number)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputPhone">Telefon raqam</label>
                                <input class="form-control" id="inputPhone" type="tel" placeholder="Telefon raqamingizni kiriting" value="{{ user.profile.phone_number }}" name="phone_number">
                            </div>
                            <!-- Form Group (birthday)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputBirthday">Tug'ilgan sana</label>
                                <input class="form-control" id="inputBirthday" type="text" placeholder="Tug'ilgan kuningizni kiriting" value="{{ user.profile.birth_of_day }}" name="birth_of_day">
                            </div>
                        </div>
                        <!-- Save changes button-->
                        <button class="btn btn-primary" type="submit">Saqlash</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

