{% extends 'news/base.html' %}
{% load static %}


{% block content %}
    <!-- Contact Start -->
    <div class="container-fluid mt-5 pt-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Har qanday savol uchun biz bilan bog'laning</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-4 mb-3">
                        <div class="mb-4">
                            <h6 class="text-uppercase font-weight-bold">Aloqa ma'lumotlari</h6>
                            <p class="mb-4">Bizga ismingiz, emailingiz orqali savol mavzusi orqali muammoyingizni yuboring</p>
							<div class="mb-3">
                                <div class="d-flex align-items-center mb-2">
                                    <i class="fa fa-map-marker-alt text-primary mr-2"></i>
                                    <h6 class="font-weight-bold mb-0">Bizning offis</h6>
                                </div>
                                <p class="m-0">Toshkent, Yunusobod, 13-mavze</p>
                            </div>
                            <div class="mb-3">
                                <div class="d-flex align-items-center mb-2">
                                    <i class="fa fa-envelope-open text-primary mr-2"></i>
                                    <h6 class="font-weight-bold mb-0">Email</h6>
                                </div>
                                <p class="m-0">rilhomjon007@gmail.com</p>
                            </div>
                            <div class="mb-3">
                                <div class="d-flex align-items-center mb-2">
                                    <i class="fa fa-phone-alt text-primary mr-2"></i>
                                    <h6 class="font-weight-bold mb-0">Telefon raqam</h6>
                                </div>
                                <p class="m-0">+998 91 658 93 40</p>
                            </div>
                        </div>
                        <h6 class="text-uppercase font-weight-bold mb-3">Biz bilan bog'lanish</h6>
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control p-4" placeholder="Ismingizni kiriting.." required="required" name="name"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control p-4" placeholder="Emailingizni kiriting.." required="required" name="email"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control p-4" placeholder="Mavzu" required="required" name="subject"/>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="4" placeholder="Bog'lanish matni.." required="required" name="message"></textarea>
                            </div>
                            <div>
                                <button class="btn btn-primary font-weight-semi-bold px-4" style="height: 50px;"
                                    type="submit">Yuborish</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">

                <!-- Popular News Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Trenddagi yangiliklar</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-3">
                            {% for news in trending_news %}
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <img class="img-fluid h-100" src="{{ news.image.url }}" alt="">
                                <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="{{ news.get_category_url }}">{{ news.category }}</a>
                                        <a class="text-body" href=""><small>{{ news.publish_time|date:'Y-m-d H:i' }}</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="">{{ news.title|slice:'0:20' }}</a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Popular News End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
{% endblock content %}