{% extends 'news/base.html' %}
{% load static %}
{% load hitcount_tags %}

{% block content %}


    <!-- Main News Slider Start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 px-0">
                <div class="owl-carousel main-carousel position-relative">

                    {% for new in three_news %}
                    <div class="position-relative overflow-hidden" style="height: 500px;">
                        {% if new.image %}
                        <img class="img-fluid h-100" src="{{ new.image.url }}" style="object-fit: cover;">
                        {% endif %}
                        <div class="overlay">
                            <div class="mb-2">
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                    href="{{ new.get_category_url }}">{{ new.category }}</a>
                                <a class="text-white" href="">{{ new.publish_time|date:'Y-m-d H:i' }}</a>
                            </div>
                            <a class="h2 m-0 text-white text-uppercase font-weight-bold" href="{{ new.get_absolute_url }}">{{ new.title }}</a>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
            <div class="col-lg-5 px-0">
                <div class="row mx-0">
                    {% for news in football_news %}
                    <div class="col-md-6 px-0">
                        <div class="position-relative overflow-hidden" style="height: 250px;">
                            {% if news.image %}
                            <img class="img-fluid w-100 h-100" src="{{ news.image.url }}" style="object-fit: cover;">
                            {% endif %}
                            <div class="overlay">
                                <div class="mb-2">
                                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                        href="{{ news.get_category_url }}">{{ news.category }}</a>
                                    <a class="text-white" href=""><small>{{ news.publish_time|date:'Y-m-d H:i' }}</small></a>
                                </div>
                                <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="{{ news.get_absolute_url }}">{{ news.title|slice:'0:20' }}</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    <!-- Main News Slider End -->


    <!-- Breaking News Start -->
    <div class="container-fluid bg-dark py-3 mb-3">
        <div class="container">
            <div class="row align-items-center bg-dark">
                <div class="col-12">
                    <div class="d-flex justify-content-between">
                        <div class="owl-carousel tranding-carousel position-relative d-inline-flex align-items-center ml-3"
                            style="width: calc(100% - 170px); padding-right: 90px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breaking News End -->


    <!-- Featured News Slider Start -->
    <div class="container-fluid pt-5 mb-3">
        <div class="container">
            <div class="section-title">
                <h4 class="m-0 text-uppercase font-weight-bold">TASSIRLI YANGILIKLAR</h4>
            </div>
            <div class="owl-carousel news-carousel carousel-item-4 position-relative">

                {% for news in featured_news %}
                <div class="position-relative overflow-hidden" style="height: 300px;">
                    <img class="img-fluid h-100" src="{{ news.image.url }}" style="object-fit: cover;">
                    <div class="overlay">
                        <div class="mb-2">
                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                href="{{ news.get_category_url }}">{{ news.category }}</a>
                            <a class="text-white" href=""><small>{{ news.publish_time|date:'Y-m-d H:i' }}</small></a>
                        </div>
                        <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="{{ news.get_absolute_url }}">{{ news.title|slice:'0:20' }}</a>
                    </div>
                </div>
                {% endfor %}


            </div>
        </div>
    </div>
    <!-- Featured News Slider End -->


    <!-- News With Sidebar Start -->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title">
                                <h4 class="m-0 text-uppercase font-weight-bold">So'nggi yangiliklar</h4>
<!--                                <a class="text-secondary font-weight-medium text-decoration-none" href="">View All</a>-->
                            </div>
                        </div>
                        {% for news in last_news %}
                        <div class="col-lg-6">
                            <div class="position-relative mb-3">
                                <img class="img-fluid w-100" src="{{ news.image.url }}" style="object-fit: cover;">
                                <div class="bg-white border border-top-0 p-4">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                            href="{{ news.get_category_url }}">{{ news.category }}</a>
                                        <a class="text-body" href=""><small>{{ news.publish_time|date:'Y-m-d H:i' }}</small></a>
                                    </div>
                                    <a class="h4 d-block mb-3 text-secondary text-uppercase font-weight-bold" href="">{{ news.title|slice:'0:20' }}</a>
                                    <p class="m-0">{{ news.summary }}</p>
                                </div>
                                <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                                    <div class="d-flex align-items-center">
                                        <img class="rounded-circle mr-2" src="{% static 'img/user.jpg' %}" width="25" height="25" alt="">
                                        <small>{{ news.author }}</small>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <small class="ml-3"><i class="far fa-eye mr-2"></i>{% get_hit_count for news %}</small>
                                        <small class="ml-3"><i class="far fa-comment mr-2"></i>{{ news.comments.count }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-lg-4">

                    <!-- Popular News Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Trenddagi yangiliklar</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-3">

                            {% for news in trending_news %}
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <img class="img-fluid h-100" src="{{ news.image.url }}" alt="">
                                <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="{{ news.get_category_url }}">{{ news.category }}</a>
                                        <a class="text-body" href=""><small>{{ news.publish_time|date:'Y-m-d H:i' }}</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="">{{ news.title|slice:'0:20' }}</a>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- News With Sidebar End -->



{% endblock content %}