{% extends 'news/base.html' %}
{% load static %}

{% load hitcount_tags %}

{% block title %}Qidiruv{% endblock title %}

{% block content %}
    <!-- News With Sidebar Start -->
    <div class="container-fluid mt-5 pt-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-12">
                        </div>

                        {% for news in search_news %}
                        <div class="col-lg-6">
                            <div class="position-relative mb-3">
                                <img class="img-fluid w-100" src="{{ news.image.url }}" style="object-fit: cover;">
                                <div class="bg-white border border-top-0 p-4">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                            href="">{{ news.category }}</a>
                                        <a class="text-body" href=""><small>{{ news.publish_time }}</small></a>
                                    </div>
                                    <a class="h4 d-block mb-3 text-secondary text-uppercase font-weight-bold" href="{{ news.get_absolute_url }}">{{ news.title }}</a>
                                    <p class="m-0">{{ news.summary }}</p>
                                </div>
                                <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                                    <div class="d-flex align-items-center">
                                        <img class="rounded-circle mr-2" src="{% static 'img/user.jpg' %}" width="25" height="25" alt="">
                                        <small>{{ news.author }}</small>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <small class="ml-3"><i class="far fa-eye mr-2"></i>{% get_hit_count for news %}</small>
                                        <small class="ml-3"><i class="far fa-comment mr-2"></i>{{ news.comment.count }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        <div class="col-lg-12 mb-3">

                        </div>

                        {% for news in search_news_all %}
                        <div class="col-lg-6">
                            <div class="position-relative mb-3">
                                <img class="img-fluid w-100" src="{{ news.image.url }}" style="object-fit: cover;">
                                <div class="bg-white border border-top-0 p-4">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                            href="">{{ news.category }}</a>
                                        <a class="text-body" href=""><small>{{ news.publish_time }}</small></a>
                                    </div>
                                    <a class="h4 d-block mb-0 text-secondary text-uppercase font-weight-bold" href="{{ news.get_absolute_url }}">{{ news.title }}</a>
                                </div>
                                <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                                    <div class="d-flex align-items-center">
                                        <img class="rounded-circle mr-2" src="{% static 'img/user.jpg' %}" width="25" height="25" alt="">
                                        <small>{{ news.author }}</small>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <small class="ml-3"><i class="far fa-eye mr-2"></i>{% get_hit_count for news %}</small>
                                        <small class="ml-3"><i class="far fa-comment mr-2"></i>{{ news.comment.count }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}


                    </div>
                </div>

                <div class="col-lg-4">


                    <!-- Popular News Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Trenddagi yangiliklar</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-3">
                            {% for news in trending_news %}
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <img class="img-fluid h-100" src="{{ news.image.url }}" alt="">
                                <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="{{ news.get_category_url }}">{{ news.category }}</a>
                                        <a class="text-body" href=""><small>{{ news.publish_time|date:'Y-m-d H:i' }}</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="">{{ news.title|slice:'0:20' }}</a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Popular News End -->


                </div>
            </div>
        </div>
    </div>
    <!-- News With Sidebar End -->

{% endblock content %}